<div class="Dm_mainPage">
    <div class="index_header show">
        <h1>Dungeon Master</h1>
        <h2 class="subject new">{{title}}</h2>
    </div>
    <div class="itemView show">
        <form action="/Dm/{{Dm._id}}?_method=PUT" method="POST">
            <div class="master add">

                <div class="form">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="input" name="firstName" value="{{Dm.firstName}}">
                </div>
                <div class="form">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="input" name="lastName" value="{{Dm.lastName}}">
                </div>
                <div class="form">
                    <label for="username">Username:</label>
                    <input type="text" class="input" name="username" value="{{Dm.username}}">
                </div>
                <div class="form">
                    <label for="photoUrl">Dungeon Master Image:</label>
                    <input type="text" class="input" name="photoUrl" value="{{Dm.photoUrl}}">
                </div>
                <div class="form">
                    <label for="location">Location:</label>
                    <input type="text" class="input" name="location" value="{{Dm.location}}">
                </div>
                <div class="form">
                    <label for="dmStyle">Style of Dungeon Mastering:</label>
                    <input type="text" class="input" name="dmStyle" value="{{Dm.dmStyle}}">
                </div>
                <div class="form">
                    <label for="gamesRan">Games Ran:</label>
                    <input type="Number" class="input" name="gamesRan" value="{{Dm.gamesRan}}">
                </div>
                <div class="container new">
                    <input type="submit" class="btn submit" value="Update Dungeon Master">
                    <a class="link btn back" href="/Dm/{{Dm._id}}">
                        <span class="btn_text">Back</span>
                    </a>
                </div>
            </div>


        </form>

    </div>



</div>



</div>