<div class="Dm_main">
    <div class="header">
    <div class="index_header">
        <h1>{{title}}</h1>
    </div>
    <div class="btn_container head">
            <a href="/" class="btn player home">
                <span class="btn_text player">Home</span>
            </a>
        </div>

    </div>
    <div class="pageContainer">
        <a href="/Dm/new" class="btn DmNew">
            <span class="btn_text">New Dungeon Master</span>
        </a>

        <div class="itemView">
            {{#each DMs}}

            <a href="/Dm/{{this._id}}" class="link card">
                <div class="image">
                    <img src="{{this.photoUrl}}" alt="{{this.username}}">
                </div>
                <div class="info">
                    <div class="username">
                        <h2>{{this.username}}</h2>
                    </div>
                    
                </div>


            </a>
            {{/each}}
        </div>






    </div>
</div>