<div class="Dm_main">
    <div class="index_header">
        <h1>{{title}}</h1>
    </div>
    <div class="itemView">
        <div class="master">
            <div class="image master">
                <img src="{{Dm.photoUrl}}" alt="{{Dm.username}}">
            </div>
            <div class="name">First Name:
                <span class="firstName">{{Dm.firstName}}</span>
            </div>
            <div class="name">Last Name:
                <span class="lastName">{{Dm.lastName}}</span>
            </div>
            <a href="/Dm/{{DmId}}/adventures" class="btn adventure">Adventures!</a>
            <div class="btn_contaier">
                <a href="/Dm/{{DmId}}/edit" class="btn DmEdit">Edit this DM</a>
                <a href="/Dm/{{DmId}}/delete" class="btn DmDelete">Delete this DN</a>
            </div>
        </div>
    </div>




</div>