<div class="Dm_main adven show">
    <div class="header">
        <div class="index_header show adven">
            <h1>{{title}}</h1>
        </div>
        <div class="btn_container head">
            <a href="/" class="btn player home">
                <span class="btn_text player">Home</span>
            </a>
            <a href="/Dm/{{DmId}}" class="btn player home">
                <span class="btn_text player">Back to {{Dm.username}}</span>
            </a>
            <a href="/Dm/{{DmId}}/adventures" class="btn player home">
                <span class="btn_text player">Back to Adventures</span>
            </a>

        </div>
    </div>



    <div class="card_container">
        <div class="advenShow">
            <div class="descript">
                <p>{{adventure.description}}</p>
            </div>


            <div class="btn_container adven">
                <a href="/Dm/{{DmId}}/adventures/{{adventure._id}}/players" class="btn AdvenNew">
                    <span class="btn_text">To Players</span>
                </a>
                <a href="/Dm/{{DmId}}/adventures/{{adventure._id}}/encounters" class="btn AdvenEncounter">
                    <span class="btn_text">To Encounters</span>
                </a>
                <a href="/Dm/{{DmId}}/adventures/{{adventure._id}}/edit" class="btn DmEdit">
                    <span class="btn_text">Edit Adventure</span>
                </a>
                <a href="/Dm/{{DmId}}/adventures/{{adventure._id}}/delete" class="btn DmDelete">
                    <span class="btn_text">Delete Adventure</span>
                </a>
            </div>
        </div>

    </div>
</div>


</div>