<div class="Dm_main player monster edit">

    <div class="header">
        <div class="index_header show adven">
            <h1>{{title}}</h1>
            <h2 class="subject">{{monster.name}}</h2>
        </div>
        <div class="btn_container head">
            <a href="/" class="btn player home">
                <span class="btn_text player">Home</span>
            </a>
            <a href="/Dm/{{../DmId}}" class="btn player home second">
                <span class="btn_text player">Back to {{Dm.username}}</span>
            </a>
            <a href="/Dm/{{DmId}}/adventures/{{AdvenId}}" class="btn player home third">
                <span class="btn_text player">Back to {{adventure.name}}</span>
            </a>
            <a href="/Dm/{{DmId}}/adventures/{{AdvenId}}/encounters/{{encounter._id}}" class="btn player home fourth">
                <span class="btn_text player">Back to {{encounter.location}}</span>
            </a>
            <a href="/Dm/{{DmId}}/adventures/{{adventure._id}}/encounters/{{encounter._id}}/monsters/" class="btn player home fifth">
                <span class="btn_text player">Back to Monstersr</span>
            </a>
        </div>

    </div>


    <div class="container player">

        <div class="player_card monster new">
            <form class="form player" action="/Dm/{{DmId}}/adventures/{{AdvenId}}/encounters/{{EncountId}}/monsters/{{MonstId}}?_method=PUT"
                method="POST">
                <div class="formLabel">
                    <label for="name" class="label player new">Name:</label>
                    <input type="text" name="name" value="{{monster.name}}">
                </div>
                <div class="formLabel">
                    <label for="xp" class="label player new">Xp Value:</label>
                    <input type="number" name="xp" value="{{monster.xp}}">
                </div>
                <div class="formLabel">
                    <label for="armorClass" class="label player new">Armor Class:</label>
                    <input type="number" name="armorClass" value="{{monster.armorClass}}">
                </div>
                <div class="formLabel">
                    <label for="hitPoints" class="label player new">Hit Points:</label>
                    <input type="number" name="hitPoints" value="{{monster.hitPoints}}">
                </div>
                <div class="formLabel">
                    <label for="speed" class="label player new">Speed:</label>
                    <input type="number" name="speed" value="{{monster.speed}}">
                </div>
                <div class="formLabel double">
                    <br></br>
                    <div class="formLabel">
                        <label for="stats.str" class="label player new">Strength:</label>
                        <input type="number" name="stats.str" value="{{monster.stats.str}}">
                    </div>
                    <div class="formLabel">
                        <label for="stats.dex" class="label player new">Dexterity:</label>
                        <input type="number" name="stats.dex" value="{{monster.stats.dex}}">
                    </div>
                    <div class="formLabel">
                        <label for="stats.con" class="label player new">Constitution:</label>
                        <input type="number" name="stats.con" value="{{monster.stats.con}}">
                    </div>
                    <div class="formLabel">
                        <label for="stats.int" class="label player new">Intelligence:</label>
                        <input type="number" name="stats.int" value="{{monster.stats.int}}">
                    </div>
                    <div class="formLabel">
                        <label for="stats.wis" class="label player new">Wisdom:</label>
                        <input type="number" name="stats.wis" value="{{monster.stats.wis}}">
                    </div>
                    <div class="formLabel">
                        <label for="stats.cha" class="label player new">Charisma:</label>
                        <input type="number" name="stats.cha" value="{{monster.stats.cha}}">
                    </div>
                </div>
                <br></br>
                <div class="formLabel">
                    <label for="skills" class="label player new">Skills:</label>
                    <input type="text" name="skills" value="{{monster.skills}}">
                </div>
                <div class="formLabel">
                    <label for="senses" class="label player new">Senses:</label>
                    <input type="text" name="senses" value="{{monster.senses}}">
                </div>
                <br></br>
                <div class="formLabel double">
                    {{#each monster.features}}
                    <div class="formLabel">
                        <label for="features" class="label player new">Feature:</label>
                        <input type="text" name="features" value="{{this}}">
                    </div>
                    {{/each}}
                </div>
                <br></br>
                <div class="formLabel double">
                    {{#each mosnter.actions}}
                    <div class="formLabel">
                        <label for="actions" class="label player new">Action:</label>
                        <input type="text" name="actions" value="{{this}}">
                    </div>
                    {{/each}}
                </div>
                <br></br>
                <div class="formLabel">
                    <label for="description" class="label player new">Description:</label>
                    <input type="text" name="description" value="{{monster.description}}">
                </div>
                <div class="formLabel">
                    <label for="photoUrl" class="label player new">Image:</label>
                    <input type="text" name="photoUrl" value="{{monster.photoUrl}}">
                </div>
                <div class="btn_container">
                    <input type="submit" class="btn submit new" value="Edit {{monster.name}}">
                </div>
            </form>
        </div>
    </div>
</div>