<div class="Dm_main encount">
    <div class="header">
        <div class="index_header show adven">
            <h1>{{adventure.name}}</h1>
            <h2 class="subject">{{title}}</h2>
        </div>
        <div class="btn_container head">
            <a href="/" class="btn player home">
                <span class="btn_text player">Home</span>
            </a>
            <a href="/Dm/{{DmId}}" class="btn player home second">
                <span class="btn_text player">Back to {{Dm.username}}</span>
            </a>
            <a href="/Dm/{{DmId}}/adventures/{{AdvenId}}" class="btn player home third">
                <span class="btn_text player">Back to {{adventure.name}}</span>
            </a>

        </div>
    </div>
    <div class="container adven">

        <div class="btn_container adven">
            <a href="//Dm/{{DmId}}/adventures/{{adventure._id}}/encounters/nes" class="btn AdvenNew">
                <span class="btn_text">New Encounter</span>
            </a>
        </div>

        <div class="card_container">
            {{#each encounters}}

            <a href="/Dm/{{../DmId}}/adventures/{{adventure._id}}/encounters/{{this.id}}" class="link card edit">
                <div class="info">
                    <div class="username adven">
                        <h2>{{this.location}}</h2>
                    </div>


                </div>


            </a>
            {{/each}}
        </div>








    </div>
</div>